<div class="cont">
  <div class="wrapper">
    <%= image_tag("abt_1.jpg",alt: "logo" ,class: "img" ) %>
    <%= image_tag("abt_2.jpg",alt: "logo" ,class: "img" ) %>
    <%= image_tag("abt_3.jpg",alt: "logo" ,class: "img" ) %>
    <%= image_tag("abt_2.jpg",alt: "logo" ,class: "img" ) %>
  </div>
</div>
