.tag_img {
    width: 40%;
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
}

.cont_head {
    margin-top: 4%;
    position: absolute;
    margin-left: 10%;
    color: #86DB99;
    font-size: 60px;
    font-weight: 900;
}

.cont_head1 {
    margin-top: 0%;
    position: absolute;
    margin-left: 10%;
    color: black;
    font-size: 60px;
}

.abt_cont {
    margin-top: 12%;
    margin-left: 10%;
    font-size: 24px;
    font-family: fantasy;
    position: absolute;
}

.contact_img {
    position: absolute;
    margin-left: 40%;
    width: 20%;
    margin-top: 10%;
}

.caller {
    margin-left: 12%;
    font-size: x-large;
    margin-top: -6%;
}

.cont_form {
    box-shadow: 2px 4px 8px 2px;
    background-color: white;
    height: 56vh;
    width: 64%;
    margin-left: 20%;
    margin-top: 5%;
}

#cont_name {
    width: 30%;
    height: 6vh;
    margin-top: 4%;
    padding-left: 5%;
    margin-left: 60%;
    color: black;
}


.cont_btn {
    width: 16%;
    margin-top: 3%;
    height: 5vh;
    margin-left: 60%;
    background-color: #86DB99;
}

.cont_btn:hover {
    background-color: #bfecc9;
}

.cont_box p {
    font-size: 20px;
    margin-top: 22%;
    position: absolute;
    line-height: 2;
    margin-left: 10%;
}

.insta {
    margin-top: 34%;
    margin-left: 10%;
    font-size: 40px;
}

.faceb {
    font-size: 40px;
    margin-left: 3%;
}

.twitt {
    font-size: 40px;
    margin-left: 3%;
}

.contact_end {
    width: 100%;
    height: 1vh;
    background-color: rgb(79, 78, 78);
    margin-top: 5%;
}

.cont_content {
    color: #86DB99;
    font-size: 60px;
    font-weight: 900;
    position: absolute;
    margin-top: -21%;
    margin-left: 8%;
}

.cont_content1 {
    color: black;
    font-size: 60px;
    font-weight: 900;
    position: absolute;
    margin-top: 30%;
    margin-left: -60%;
}