.sign_box {
    width: 40%;
    height: 30%;
    margin-left: 29%;
    margin-top: -30%;
    position: absolute;
}

.signup_image {
    width: 50%;
    height: 105.4vh;
    margin-left: 50%;
    margin-top: -8.4%;
}

#sign_inp {
    border-top: black;
    border-right: black;
    border-left: black;
    margin-left: 10%;
    margin-top: 6%;
    width: 40%;
    height: 55px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: aliceblue;
    padding-left: 3.5%;
}

#sign_inp1 {
    border-top: black;
    border-right: black;
    border-left: black;
    margin-left: 24%;
    margin-top: 6%;
    width: 50%;
    height: 55px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: aliceblue;
    padding-left: 3.5%;
}
#sign_inp11 {
    border-top: black;
    border-right: black;
    border-left: black;
    margin-left: -44%;
    margin-top: -20%;
    position: absolute;
    width: 60%;
    height: 75px;
    background-color: rgb(203, 201, 201);
    font-size: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 3.5%;
}
#sign_inp12 {
    border-top: black;
    border-right: black;
    border-left: black;
    margin-left: -44%;
    margin-top: -2%;
    width: 60%;
    height: 75px;
    font-size: 20px;
    position: absolute;
    background-color: rgb(203, 201, 201);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 3.5%;
}
#sign_inp3 {
    border-top: black;
    border-right: black;
    border-left: black;
    margin-left: -44%;
    margin-top: 16%;
    width: 60%;
    height: 75px;
    font-size: 20px;
    position: absolute;
    background-color: rgb(203, 201, 201);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 3.5%;
}

#sign_inp2 {
    border-top: black;
    border-right: black;
    border-left: black;
    margin-left: 24%;
    margin-top: 6%;
    width: 50%;
    height: 55px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: aliceblue;
    padding-left: 3.5%;
}

#sign_inp4 {
    border-top: black;
    border-right: black;
    border-left: black;
    margin-left: -44%;
    margin-top: 34%;
    width: 60%;
    height: 75px;
    font-size: 20px;
    position: absolute;
    background-color: rgb(203, 201, 201);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 3.5%;
}

#sign_input {
    border-top: black;
    border-right: black;
    border-left: black;
    margin-left: 24%;
    margin-top: 6%;
    width: 48%;
    height: 55px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: aliceblue;
    padding-left: 3.5%;
}

#sign_input1 {
    border-top: black;
    border-right: black;
    border-left: black;
    margin-left: 34%;
    margin-top: 6%;
    width: 38%;
    height: 55px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: aliceblue;
    padding-left: 3.5%;
}

#sign_oup {
    border-top: black;
    border-right: black;
    border-left: black;
    margin-left: 4%;
    position: absolute;
    margin-top: 3%;
    width: 20%;
    height: 55px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: aliceblue;
    padding-left: 3.5%;
}

.f_sub {
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 1.5vh;
    height: 48px;
    width: 16%;
    background-color: #22b9b1;
    color: white;
    font-weight: 900;
    font-size: larger;
    border: none;
}
.f_sub1{
    margin-left: -44%;
    margin-top: 52%;
    margin-bottom: 5%;
    width: 60%;
    height: 75px;
    background-color: #22b9b1;
    color: white;
    font-weight: 900;
    font-size: larger;
    border: none;
    position: absolute;
}
.f_sub2{
    margin-left: -44%;
    margin-top: 16%;
    margin-bottom: 5%;
    width: 60%;
    height: 75px;
    background-color: #22b9b1;
    color: white;
    font-weight: 900;
    font-size: larger;
    border: none;
    position: absolute;
}

.add_btn {
    margin-left: 46%;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 1.5vh;
    height: 48px;
    width: 16%;
    background-color: #22b9b1;
    color: white;
    font-weight: 900;
    font-size: larger;
    border: none;
}

.add_btn:hover {
    background-color: #18c6bd;
}

.f_sub:hover {
    background-color: #18c6bd;
}

.signupPopup {
    position: relative;
    text-align: center;
    width: 100%;
}

.formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    z-index: 9;
    margin-left: 40%;
}